# Django Core
DEBUG=on
SECRET_KEY=change_me_in_production
ALLOWED_HOSTS=127.0.0.1,localhost

# Database
DATABASE_URL=postgres://postgres:password@localhost:5432/storesure

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
